In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('t20i_info.csv')

In [3]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground

In [4]:
df.isnull().sum()

Unnamed: 0             0
match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8548
venue                  0
dtype: int64

In [5]:
df.shape

(63888, 9)

### Features needed :-
Batting team, Bowling team, City, Current Score, Balls left, Wickets left, Last 5 over score

In [6]:
#handling null values

df[df['city'].isnull()]['venue'][0].split(" ")[0]

'Melbourne'

In [7]:
df['city'] = df['city'].fillna(df['venue'].apply(lambda x: x.split(" ")[0]))

In [8]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground

In [9]:
df.isnull().sum()

Unnamed: 0          0
match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [10]:
df['city'].value_counts()

Colombo          4086
Mirpur           3420
Johannesburg     3331
Dubai            2969
Auckland         2532
                 ...
Nairobi           123
Potchefstroom     122
Dharamsala        122
Ahmedabad         121
Carrara            64
Name: city, Length: 86, dtype: int64

In [11]:
#selecting the cities which have more matches and removing which has less than 600 matches

eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()
eligible_cities

['Colombo',
 'Mirpur',
 'Johannesburg',
 'Dubai',
 'Auckland',
 'Cape Town',
 'London',
 'Pallekele',
 'Barbados',
 'Sydney',
 'Melbourne',
 'Durban',
 'St Lucia',
 'Wellington',
 'Lauderhill',
 'Hamilton',
 'Centurion',
 'Manchester',
 'Abu Dhabi',
 'Mumbai',
 'Nottingham',
 'Southampton',
 'Mount Maunganui',
 'Chittagong',
 'Kolkata',
 'Lahore',
 'Delhi',
 'Nagpur',
 'Chandigarh',
 'Adelaide',
 'Bangalore',
 'St Kitts',
 'Cardiff',
 'Christchurch',
 'Trinidad']

In [12]:
df = df[df['city'].isin(eligible_cities)]
df.shape

(50501, 9)

# Getting the current score

In [13]:
#using cummulative sum

df['current_score'] = df.groupby('match_id').cumsum()['runs']

C:\Users\HP-PC\AppData\Local\Temp\ipykernel_12904\3064119181.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df['current_score'] = df.groupby('match_id').cumsum()['runs']

In [14]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3

# Geetting Balls left

In [15]:
#firstly getting the over and ball number seperately, then find balls left

df['over'] = df['ball'].apply(lambda x: str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x: str(x).split(".")[1])

In [16]:
df.sample(5)

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no
42201,78,657,West Indies,England,12.6,2,0,Pallekele,Pallekele International Cricket Stadium,118,12,6
31063,92,539,New Zealand,West Indies,14.5,1,0,Hamilton,Seddon Park,151,14,5
2422,51,31,New Zealand,Australia,8.1,0,0,Sydney,Sydney Cricket Ground,40,8,1
38873,15,620,India,West Indies,2.2,0,0,Trinidad,"Queen's Park Oval, Port of Spain",10,2,2
56028,38,831,South Africa,Bangladesh,6.2,4,0,Mirpur,Shere Bangla National Stadium,42,6,2

In [17]:
df['balls_bowled'] = (df['over'].astype(int)*6 + df['ball_no'].astype(int))

In [18]:
df.sample(5)

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no,balls_bowled
30469,121,532,Sri Lanka,Pakistan,19.5,1,0,London,Lord's,136,19,5,119
59156,74,879,Sri Lanka,West Indies,12.1,1,0,Pallekele,Pallekele International Cricket Stadium,106,12,1,73
8533,1,103,Bangladesh,India,0.2,0,0,Colombo,"R.Premadasa Stadium, Khettarama",1,0,2,2
17418,46,247,India,New Zealand,7.4,1,0,Mount Maunganui,Bay Oval,60,7,4,46
47435,24,716,Sri Lanka,Australia,3.4,0,0,Melbourne,Melbourne Cricket Ground,19,3,4,22

In [19]:
df['balls_left'] = 120 - df['balls_bowled']

In [20]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no,balls_bowled,balls_left
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,19,3,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,19,4,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,19,5,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,19,6,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,19,7,121,-1

In [21]:
#handling the negative balls left values(in case of more than 6 balls in over due to no ball)

df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x )

In [22]:
df.tail()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no,balls_bowled,balls_left
63883,121,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium,125,19,3,117,3
63884,122,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium,125,19,4,118,2
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium,125,19,5,119,1
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium,127,19,6,120,0
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium,128,19,7,121,0

# Getting Wickets left

In [23]:
#changing the player dismissed to numeric data

df['player_dismissed'] = df['player_dismissed'].apply(lambda x:1 if x!='0' else '0').astype(int)

In [24]:
df['player_dismissed'].info

<bound method Series.info of 0        0
1        0
2        0
3        0
4        0
        ..
63883    0
63884    0
63885    1
63886    0
63887    0
Name: player_dismissed, Length: 50501, dtype: int32>

In [25]:
#finding out the number of players dismissed after each ball bowled

df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']

C:\Users\HP-PC\AppData\Local\Temp\ipykernel_12904\824429368.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df['player_dismissed'] = df.groupby('match_id').cumsum()['player_dismissed']

In [26]:
df['wickets_left'] = 10 - df['player_dismissed']

df.sample(5)

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
13951,87,193,Australia,Sri Lanka,14.1,1,1,Adelaide,Adelaide Oval,166,14,1,85,35,9
9097,74,120,South Africa,Sri Lanka,12.1,0,7,Colombo,"R.Premadasa Stadium, Khettarama",78,12,1,73,47,3
54767,17,820,South Africa,West Indies,2.3,2,0,Durban,Kingsmead,21,2,3,15,105,10
21813,111,443,England,Australia,17.5,1,5,Southampton,The Rose Bowl,156,17,5,107,13,5
24076,24,468,New Zealand,India,3.7,0,1,Johannesburg,New Wanderers Stadium,34,3,7,25,95,9

# Getting Current Run Rate

In [27]:
df['current_run_rate'] = (df['current_score']*6) / df['balls_bowled']

In [28]:
df.sample(5)

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,current_run_rate
42469,103,659,India,Australia,16.6,1,6,Colombo,R Premadasa Stadium,115,16,6,102,18,4,6.764706
8161,125,99,Sri Lanka,Bangladesh,19.7,2,6,Colombo,"R.Premadasa Stadium, Khettarama",208,19,7,121,0,4,10.314050
359,111,4,Australia,Sri Lanka,17.5,4,2,Adelaide,Adelaide Oval,175,17,5,107,13,8,9.813084
14224,118,195,Sri Lanka,Australia,19.4,1,6,Melbourne,Melbourne Cricket Ground,141,19,4,118,2,4,7.169492
24691,11,473,Australia,Pakistan,1.6,4,1,Johannesburg,New Wanderers Stadium,13,1,6,12,108,9,6.500000

# Getting last 5 overs score

In [29]:
groups = df.groupby('match_id')
match_id = df['match_id'].unique()
last_five = []

for id in match_id:
    last_five.extend(groups.get_group(id).rolling(window = 30).sum()['runs'].values.tolist())

C:\Users\HP-PC\AppData\Local\Temp\ipykernel_12904\3626440110.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['batting_team', 'bowling_team', 'city', 'venue'], dtype='object')
  last_five.extend(groups.get_group(id).rolling(window = 30).sum()['runs'].values.tolist())

In [30]:
df['last_five'] = last_five
df

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,current_run_rate,last_five
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119,10,0.000000,NaN
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118,10,0.000000,NaN
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117,10,2.000000,NaN
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4,116,10,4.500000,NaN
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63883,121,964,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,19,3,117,3,2,6.410256,32.0
63884,122,964,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,19,4,118,2,2,6.355932,32.0
63885,123,964,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1,1,6.302521,32.0
63886,124,964,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0,1,6.350000,33.0
63887,125,964,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0,1,6.347107,32.0

# Final DataFrame

In [31]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df, on='match_id')
final_df

C:\Users\HP-PC\AppData\Local\Temp\ipykernel_12904\3960834703.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df, on='match_id')

,match_id,runs_x,Unnamed: 0,batting_team,bowling_team,ball,runs_y,player_dismissed,city,venue,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,current_run_rate,last_five
0,2,168,0,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119,10,0.000000,NaN
1,2,168,1,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118,10,0.000000,NaN
2,2,168,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117,10,2.000000,NaN
3,2,168,3,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4,116,10,4.500000,NaN
4,2,168,4,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5,5,115,10,3.600000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50496,964,128,121,Sri Lanka,Australia,19.3,1,8,Colombo,R Premadasa Stadium,125,19,3,117,3,2,6.410256,32.0
50497,964,128,122,Sri Lanka,Australia,19.4,0,8,Colombo,R Premadasa Stadium,125,19,4,118,2,2,6.355932,32.0
50498,964,128,123,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1,1,6.302521,32.0
50499,964,128,124,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0,1,6.350000,33.0
50500,964,128,125,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0,1,6.347107,32.0

In [32]:
final_df.columns

Index(['match_id', 'runs_x', 'Unnamed: 0', 'batting_team', 'bowling_team',
       'ball', 'runs_y', 'player_dismissed', 'city', 'venue', 'current_score',
       'over', 'ball_no', 'balls_bowled', 'balls_left', 'wickets_left',
       'current_run_rate', 'last_five'],
      dtype='object')

In [33]:
desired_columns = ['batting_team', 'bowling_team', 'city', 'current_score',
                   'balls_left', 'wickets_left', 'current_run_rate', 'last_five', 'runs_x']

final_df = final_df[desired_columns]
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,current_run_rate,last_five,runs_x
0,Australia,Sri Lanka,Melbourne,0,119,10,0.000000,NaN,168
1,Australia,Sri Lanka,Melbourne,0,118,10,0.000000,NaN,168
2,Australia,Sri Lanka,Melbourne,1,117,10,2.000000,NaN,168
3,Australia,Sri Lanka,Melbourne,3,116,10,4.500000,NaN,168
4,Australia,Sri Lanka,Melbourne,3,115,10,3.600000,NaN,168
...,...,...,...,...,...,...,...,...,...
50496,Sri Lanka,Australia,Colombo,125,3,2,6.410256,32.0,128
50497,Sri Lanka,Australia,Colombo,125,2,2,6.355932,32.0,128
50498,Sri Lanka,Australia,Colombo,125,1,1,6.302521,32.0,128
50499,Sri Lanka,Australia,Colombo,127,0,1,6.350000,33.0,128
50500,Sri Lanka,Australia,Colombo,128,0,1,6.347107,32.0,128

In [34]:
#handling the null last_five values

final_df.dropna(inplace=True)
print(final_df.isna().sum())

batting_team        0
bowling_team        0
city                0
current_score       0
balls_left          0
wickets_left        0
current_run_rate    0
last_five           0
runs_x              0
dtype: int64

C:\Users\HP-PC\AppData\Local\Temp\ipykernel_12904\4047769603.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.dropna(inplace=True)

In [35]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,current_run_rate,last_five,runs_x
29,Australia,Sri Lanka,Melbourne,43,90,10,8.600000,43.0,168
30,Australia,Sri Lanka,Melbourne,44,89,10,8.516129,44.0,168
31,Australia,Sri Lanka,Melbourne,45,88,10,8.437500,45.0,168
32,Australia,Sri Lanka,Melbourne,45,87,10,8.181818,44.0,168
33,Australia,Sri Lanka,Melbourne,45,86,10,7.941176,42.0,168
...,...,...,...,...,...,...,...,...,...
50496,Sri Lanka,Australia,Colombo,125,3,2,6.410256,32.0,128
50497,Sri Lanka,Australia,Colombo,125,2,2,6.355932,32.0,128
50498,Sri Lanka,Australia,Colombo,125,1,1,6.302521,32.0,128
50499,Sri Lanka,Australia,Colombo,127,0,1,6.350000,33.0,128
50500,Sri Lanka,Australia,Colombo,128,0,1,6.347107,32.0,128

In [36]:
final_df.isnull().sum()

batting_team        0
bowling_team        0
city                0
current_score       0
balls_left          0
wickets_left        0
current_run_rate    0
last_five           0
runs_x              0
dtype: int64

# Applying XGBoost Regression

In [37]:
X = final_df.drop(columns = ['runs_x'])
y = final_df['runs_x']

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,current_run_rate,last_five
1408,West Indies,Pakistan,Dubai,36,75,5,4.800000,21.0
21723,Pakistan,South Africa,Nottingham,124,26,6,7.914894,42.0
35901,New Zealand,England,Wellington,24,89,9,4.645161,24.0
9131,West Indies,India,Kolkata,47,64,6,5.035714,19.0
24423,Australia,Bangladesh,Barbados,84,29,4,5.538462,28.0
...,...,...,...,...,...,...,...,...
8237,New Zealand,Sri Lanka,Auckland,29,91,6,6.000000,29.0
14838,New Zealand,Sri Lanka,Wellington,80,75,9,10.666667,50.0
50095,Sri Lanka,Pakistan,Mirpur,65,62,10,6.724138,43.0
1150,West Indies,India,Lauderhill,84,83,10,13.621622,67.0
20741,Sri Lanka,Pakistan,London,118,31,7,7.955056,32.0

In [41]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error

In [42]:
transformer = ColumnTransformer([
    ('transformer', OneHotEncoder(sparse_output=False, drop='first'), ['batting_team', 'bowling_team', 'city'])
], remainder='passthrough')

In [43]:
#creating pipeline

pipe = Pipeline(steps =[
    ('step1', transformer),
    ('step2', StandardScaler()),
    ('step3', XGBRegressor(n_estimators=1000,learning_rate=0.2, max_depth=12, random_state=1 ))
])

In [44]:
pipe

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('transformer',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', StandardScaler()),
                ('step3',
                 XGBRegressor(base_score=None, booster=None, callbacks=None,
                              colsample_bylevel=None, colsample_bynode=None,
                              colsample_bytree=None, dev...
                              feature_types=None, gamma=None, grow_policy=None,
                              importance_type=None,
                              interaction_constraints=None, learning_rate=0.2,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=12, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, multi_strategy=None,
                              n_estimators=1000, n_jobs=None,
                              num_parallel_tree=None, random_state=1, ...))])

In [45]:
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

In [46]:
r2_score(y_test, y_pred)

0.9880996942520142

In [47]:
mean_absolute_error(y_test, y_pred)

1.5969802148624666

In [48]:
import pickle
pickle.dump(pipe, open('pipe.pkl', 'wb'))